folium==0.18.0
geopandas==1.0.1
gspread==6.1.4
ipyvizzu==0.17.0
numpy==2.0.1
requests==2.28.1
requests-oauthlib==1.3.1
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.3.0
streamlit==1.40.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
st-gsheets-connection==0.1.0
streamlit-image-coordinates==0.1.9
streamlit-imagegrid==0.0.6
streamlit-keyup==0.2.4
streamlit-sortables==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit-imagegrid==0.0.6
streamlit_folium==0.23.1
urllib3==1.26.9
xyzservices==2024.9.0
